$colors: [pink, orange, blue, red, green, purple, yellow];
@each $color in $colors {
    &.#{$color}-outline {
        border: 4px solid color($color);

        h1, h2, i, p {
            color: color($color);
        }

        i {
            font-size: 48px;
        }

        a {
            color: color($color);
        }
    }
}
